h1 {
    font-family: georgia;
    letter-spacing: 0.1em;
    text-decoration: underline;
    padding-left: 1em;
}

h2 {
    font-family: georgia;
    letter-spacing: 0.1em;
    text-decoration: underline;
    padding-left: 1em;
}

div#wrapper {
    position: relative;
    float: left;
    clear: both;
    background: transparent;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

img#photo {
    margin: 0;
    padding: 0;
}

form#article_form {
    display: none;
    float: left;
    clear: both;
}

div#arealist {
    float: left;
    margin-left: 1em;
    padding: 1em;
    border: 2px;
}

a {
    text-decoration: none;
    color: #000;
}

area:hover {
    color: red;
    border: 1px red solid;
}

form#controls {
    float: left;
    clear: both;
    padding-top: 2em;
}

.controls {
    width: 100%;
    float: left;
}

.generated-result {
    width: 100%;
    float: left;
    padding-top: 2em;
}

button {
    background: #fff;
    color: #000;
    padding: 0.5em 1em;
    border: 1px #000 solid;
    font-weight: bold;
    margin: 0.5em;
    cursor: pointer;
}

input[type='text'] {
    height: 15px;
    border: 1px #000 solid;
    padding: 0.5em 1em;
}
